.welcome-panel-circle {
    -fx-stroke-width:0;
}


.welcome-panel-startButton {
    -fx-background-image: url("../../Icons/P1_WelcomePanel/IconPlay.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
    -fx-background-radius:50%;
}
.welcome-panel-creatorButton {

    -fx-background-image: url("../../Icons/P1_WelcomePanel/IconBuild.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
    -fx-background-radius:50%;

}
.welcome-panel-leaderboardButton {
    -fx-background-image: url("../../Icons/P1_WelcomePanel/IconLeaderboard.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
    -fx-background-radius:50%;
}
.welcome-panel-settingsButton {
    -fx-background-image: url("../../Icons/P1_WelcomePanel/IconSettings.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%;
    -fx-background-color: transparent;
    -fx-background-radius:50%;
}
